<h1>Burgers!</h1>

<h2>Burgers ready to eat!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devoured=0}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Already devoured!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devoured=1}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger name:</label>
    <input type="text" id="burg" name="burger_name">
  </div>

  <div class="form-group">
    <label for="devoured">Burger state:</label><br>
    <input type="radio" name="devoured" value=1 checked> Devoured!
    <input type="radio" name="devoured" value=0> Ready to devour<br>


  </div>

  <button type="submit" class="add">Add Burger</button>
</form>