<div class="container">
  <div class="row">

    <div class="col-sm-6">

      <img src="../assets/imgs/Heavenly Patties.png" alt="Big Patties Burger Shack">

    </div>

    <div class="col-sm-6" id="add-burger">

      <h2>Create a new burger</h2>

      <form class="create-form">

        <div class="form-group">

          <label for="burg">Burger name:</label>
          <input type="text" id="burg" name="burger_name">

        </div>

        <div class="form-group">

          <label for="devoured">Burger state:</label><br>
          <input type="radio" name="devoured" value=1 checked> Devoured!
          <input type="radio" name="devoured" value=0> Ready to devour<br>

        </div>

        <button type="submit" class="add">Add Burger</button>
      </form>

    </div>

  </div>

  <div class="row">
    <div class="col-sm-6" id="ready">
      <h2>Get 'em while they're hot!</h2>

      <ul class="a">
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=0}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-sm-6" id="eaten">
      <h2>Fancy another?</h2>

      <ul class="a">
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=1}}
        {{/if}}
        {{/each}}
      </ul>

    </div>

  </div>

</div>